body {
    padding-bottom: 50px;
    /*background-color: #FF6E5B*/
}

.main-container {
    margin-top: 20px
}

.img-logo {
    width: 150px;
}


/*Animacion de las paginas*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.navbar-fudzy {
    height: 90px;
    color: lightYellow;
    background-color: #ff3600;
    background-image: linear-gradient(#FF6E5B, #ff3600);
}